.color-picker{
    border: 1px black solid;
    border-radius: 2px;
    width: 400px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    color: #9A9A9A;
}
.slider-color-select-button, .default-color-select-button{
    border: none;
    background: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 0;
    position: relative;
}
.vertical-devider{
    border-right: 1px solid grey;
    height: 100%;
}
.hex-color{
    width: 70%;
    text-align: left;
    padding: 15px;
    font-size: 22px;
}
.color-box{
    display: block;
    width: 25px;
    height: 25px;
    margin: auto;
    /* border: 1px solid black */
}

.box-arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 80px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    z-index: 1;
    cursor: auto;
}
.select-box{
    position: absolute;
    right: 0;
    top: 95px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: -5px 10px 20px grey, 5px 10px 20px grey ;
}
