.default-colors-select-box{
    width: 60%;
    transition: max-height 0.5s ease, visibilyty 2s ease;
    max-height: fit-content;
}
.defaulr-colors-select-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.defaulr-colors-select-list li{
    cursor: pointer;
    padding: 0 15px;
}
.defaulr-colors-select-list li:not(:last-child){
    border-bottom: 1px solid grey;
}
.defaulr-colors-select-list li:hover{
    background-color: #3377B6;
}
.defaulr-colors-select-list .color-box{
    margin: 0;
    margin-left: auto;
}
.defaulr-colors-select-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    width: 100%;
}
