.default-color-select{
    position: relative;
}
.button-arrow{
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    margin: auto
}
.arrow-down {
    border-top: 14px solid grey;
}
.arrow-up {
    border-bottom: 14px solid grey;
}
.default-colors-select-box{
    width: 60%;
    transition: max-height 0.5s ease, visibilyty 2s ease;
    /* max-height: fit-content; */
}
.defaulr-colors-select-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.defaulr-colors-select-list li:not(:last-child){
    border-bottom: 1px solid grey;
}
.defaulr-colors-select-list li:hover{
    background-color: #3377B6;
}
.defaulr-colors-select-list .color-box{
    margin: 0;
    margin-left: auto;
}
.defaulr-colors-select-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    width: 100%;
    font-size: 22px;
    color: #9A9A9A;
    cursor: pointer;
    padding: 15px;
}
